.board--square {
  width: 100%;
  padding: 2rem;
  box-shadow:
          1px 0 0 0 #000,
          0 1px 0 0 #000,
          1px 1px 0 0 #000,
          1px 0 0 0 #000 inset,
          0 1px 0 0 #000 inset;

  background-color: #fff;
}

.board--square__active {
  background-color: cornflowerblue;
}